/* * {
  border: solid red 1px;
} */


.multiline
{
   white-space: pre-wrap;
}

.drawingBuffer {
  display: none;
}

video {
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
}

.read-indicator::after {
  content: 'Read';
}

/* .ReactModal__Body--open {
  overflow: hidden;
} */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.custom-modal {
  position: relative;
  top: 20%;
  bottom: 20%;
}
